---
Checks: "*,
        modernize-*,
        google-*,
        llvm*,
        misc-*,
        -boost-*,
        -abseil-*,
        -altera-*,
        -android-*,
        -fuchsia-*,
        -modernize-use-trailing-return-type,
        -zircon-*,
        -readability-else-after-return,
        -readability-static-accessed-through-instance,
        -readability-avoid-const-params-in-decls,
        -readability-identifier-length,
        -cppcoreguidelines-non-private-member-variables-in-classes,
        -misc-non-private-member-variables-in-classes,
        -llvmlibc-restrict-system-libc-headers,
        -llvmlibc-implementation-in-namespace,
        -llvmlibc-callee-namespace,
        -modernize-use-nodiscard,
"
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle: google
