@import url("./mocha.css");

* {
  font-family: "Mononoki Nerd Font";
  font-weight: bold;
  font-size: 16px;
  min-height: 0;
}

window#waybar {
  color: @text;
  background: black;
}

#workspaces,
#workspaces button,
#workspaces button.active,
#workspaces button:hover {
  border-radius: 1.5rem;
}

#workspaces {
  margin: 5px 0 5px 1rem;
  background-color: black;
}

#workspaces button {
  padding: 0.5rem;
  color: @text;
}

#workspaces button.active {
  color: white;
}

#workspaces button:hover {
  color: white;
  background: @surface1;
  border-color: @surface0;
}

#workspaces button.urgent {
  color: @red;
}

#clock,
#pulseaudio,
#backlight,
#battery,
#language,
#custom-lock,
#custom-power,
#custom-theme-toggle,
#custom-waybar-toggle {
  margin: 5px 0;
  padding: 0.5rem 1rem;
  background-color: black;
}

#window {
  margin: 5px 0;
  padding: 0.5rem 1rem;
  color: @text;
}

/* make window module transparent when no windows present */
window#waybar.empty #window {
  background-color: transparent;
}

#clock {
  color: @text;
  border-radius: 1.5rem;
}

#battery,
#battery.charging {
  color: @text;
}

#battery.warning:not(.charging) {
  color: @red;
}

#pulseaudio {
  margin-left: 1rem;
  color: @text;
  border-radius: 1.5rem 0 0 1.5rem;
}

#backlight {
  color: @text;
}

#language {
  color: @text;
  border-radius: 0 1.5rem 1.5rem 0;
}

#custom-power {
  margin-right: 1rem;
  color: @text;
  border-radius: 0 1.5rem 1.5rem 0;
}

#custom-waybar-toggle {
  margin-right: 1rem;
  color: @text;
  border-radius: 0 1.5rem 1.5rem 0;
}
