@import url("./motif.css");

* {
  font-family: "Mononoki Nerd Font";
  font-weight: 700;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  color: @text;
  background: @frame;
  border-top: 1px solid @highlight;
  border-left: 1px solid @highlight;
  border-right: 1px solid @frame_dark;
  border-bottom: 1px solid @frame_dark;
}

#workspaces,
#workspaces button,
#workspaces button.active,
#workspaces button:hover {
  border-radius: 0;
}

#workspaces {
  margin: 3px 0 3px 7px;
  padding: 1px;
  background-color: @panel;
  border-top: 1px solid @highlight;
  border-left: 1px solid @highlight;
  border-right: 1px solid @shadow;
  border-bottom: 1px solid @shadow;
}

#workspaces button {
  margin: 0 1px;
  padding: 3px 9px;
  color: @text;
  background-color: @panel;
  border-top: 1px solid @highlight;
  border-left: 1px solid @highlight;
  border-right: 1px solid @shadow;
  border-bottom: 1px solid @shadow;
}

#workspaces button.active {
  color: @selected_text;
  background-color: @selected;
  border-top: 1px solid @shadow;
  border-left: 1px solid @shadow;
  border-right: 1px solid @highlight;
  border-bottom: 1px solid @highlight;
}

#workspaces button:hover {
  color: @selected_text;
  background: @selected;
}

#workspaces button.urgent {
  color: @warning;
}

#clock,
#tray,
#pulseaudio,
#backlight,
#battery,
#language,
#custom-lock,
#custom-power,
#custom-waybar-toggle {
  margin: 3px 0;
  padding: 3px 9px;
  color: @text;
  background-color: @panel;
  border-top: 1px solid @highlight;
  border-left: 1px solid @highlight;
  border-right: 1px solid @shadow;
  border-bottom: 1px solid @shadow;
}

#window {
  margin: 3px 0 3px 7px;
  padding: 3px 11px;
  color: @text_on_dark;
  background-color: @selected_dark;
  border-top: 1px solid @shadow;
  border-left: 1px solid @shadow;
  border-right: 1px solid @highlight;
  border-bottom: 1px solid @highlight;
}

/* make window module transparent when no windows present */
window#waybar.empty #window {
  background-color: @frame;
  border-color: @frame;
}

#clock {
  color: @text;
  border-radius: 0;
}

#battery,
#battery.charging {
  color: @text;
}

#battery.warning:not(.charging) {
  color: @warning;
}

#pulseaudio {
  margin-left: 7px;
  color: @text;
  border-radius: 0;
}

#backlight {
  color: @text;
}

#language {
  color: @text;
  border-radius: 0;
}

#custom-power {
  margin-right: 7px;
  color: @text;
  border-radius: 0;
}

#custom-waybar-toggle {
  margin-right: 7px;
  color: @text;
  border-radius: 0;
}
