@define-color frame #44394d;
@define-color frame_dark #292230;
@define-color panel #c2bba4;
@define-color highlight #e2dbc2;
@define-color shadow #554b5c;
@define-color text #19151d;
@define-color selected #76528b;
@define-color selected_text #f1ead7;
@define-color apple #d6a83c;

* {
  font-family: "Mononoki Nerd Font";
  font-weight: 700;
  font-size: 14px;
}

window {
  padding: 7px;
  color: @text;
  background-color: @frame;
  border-top: 1px solid @highlight;
  border-left: 1px solid @highlight;
  border-right: 1px solid @frame_dark;
  border-bottom: 1px solid @frame_dark;
}

#input {
  margin: 0 0 7px;
  padding: 5px 9px;
  color: @text;
  background-color: @panel;
  border-top: 2px solid @apple;
  border-left: 2px solid @apple;
  border-right: 2px solid @shadow;
  border-bottom: 2px solid @shadow;
}

#input:focus {
  box-shadow: none;
}

#inner-box {
  margin: 0;
  padding: 1px;
  background-color: @panel;
  border-top: 1px solid @highlight;
  border-left: 1px solid @highlight;
  border-right: 1px solid @shadow;
  border-bottom: 1px solid @shadow;
}

#img {
  margin: 5px 8px 5px 7px;
}

#entry {
  margin: 0 1px;
  padding: 5px 9px;
  color: @text;
  background-color: @panel;
  border-top: 1px solid @highlight;
  border-left: 1px solid @highlight;
  border-right: 1px solid @shadow;
  border-bottom: 1px solid @shadow;
}

#entry:selected {
  color: @selected_text;
  background-color: @selected;
  border-top: 1px solid @shadow;
  border-left: 1px solid @shadow;
  border-right: 1px solid @highlight;
  border-bottom: 1px solid @highlight;
}

#text {
  color: @text;
}

#text:selected {
  color: @selected_text;
}
