window {
  padding: 12px;
  background-color: #eda66c;
  border-top: 2px solid #ffe0bf;
  border-left: 2px solid #ffe0bf;
  border-right: 2px solid #8b5f42;
  border-bottom: 2px solid #8b5f42;
  font-family: "Mononoki Nerd Font", sans-serif;
  font-weight: bold;
  font-size: 16px;
}

#input {
  margin: 6px 6px 10px;
  padding: 8px 12px;
  color: #111111;
  background-color: #c8b8ae;
  border-top: 2px solid #5c4f4a;
  border-left: 2px solid #5c4f4a;
  border-right: 2px solid #ffe0bf;
  border-bottom: 2px solid #ffe0bf;
}

#input:focus {
  box-shadow: none;
}

#inner-box {
  margin: 0 6px 6px;
  padding: 8px;
  background-color: #70798e;
  border-top: 2px solid #5c4f4a;
  border-left: 2px solid #5c4f4a;
  border-right: 2px solid #ffe0bf;
  border-bottom: 2px solid #ffe0bf;
}

#img {
  margin: 8px;
}

#entry {
  padding: 5px 8px;
}

#entry:selected {
  background-color: #4d98a6;
}

#text {
  color: #f5f6f8;
}

#text:selected {
  color: #ffffff;
}
