---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "hedgedoc.fullname" . }}
  labels:
    {{- include "hedgedoc.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "hedgedoc.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "hedgedoc.selectorLabels" . | nindent 8 }}
    spec:
      containers:
      - name: hedgedoc
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        ports:
        - name: http
          containerPort: 3000
          protocol: TCP
        env:
        {{- range $key, $value := .Values.env }}
        - name: {{ $key }}
          value: {{ $value | quote }}
        {{- end }}
        {{- if .Values.persistence.enabled }}
        volumeMounts:
        - name: uploads
          mountPath: {{ .Values.persistence.mountPath }}
        {{- end }}
        livenessProbe:
          httpGet:
            path: /status
            port: http
          initialDelaySeconds: 120
          periodSeconds: 30
        readinessProbe:
          httpGet:
            path: /status
            port: http
          initialDelaySeconds: 30
          periodSeconds: 10
        resources:
          {{- toYaml .Values.resources | nindent 10 }}
      {{- if .Values.persistence.enabled }}
      volumes:
      - name: uploads
        persistentVolumeClaim:
          claimName: {{ include "hedgedoc.fullname" . }}-uploads
      {{- end }}
