zooreader:
  replicas: 1
  image: "registry.your.domain/zooreader:latest"
  imagePullPolicy: "Always"
  resources:
    requests:
      cpu: "10m"
      memory: "32Mi"
    limits:
      cpu: "100m"
      memory: "64Mi"
